name: CI fsl

on:
  push:
   branches:  [main, master]
  pull_request:
    branches: [main, master]

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: '15'
      - run: npm install
      - run: npm run lint --if-present

  test:
    runs-on: ubuntu-22.04
    needs: lint
    steps:
    - uses: actions/checkouts@v3
    - name: setup node.js
      uses: actions/setup-node@v3
      with:
        node-version: '15'
    - run: npm install
    - run: npm run build --if-present
